/* Reset margins and padding */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Remove list styles */
ul, ol {
  list-style: none;
}

/* Remove default button styling */
button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  cursor: pointer;
}

/* Remove default link styling */
a {
  color: inherit;
  text-decoration: none;
}

/* Set base styles for body */
body {
  line-height: 1.6;
}

select {
  padding: 5px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

.status-select,
.status-text {
  padding: 5px;
  border-radius: 5px;
  font-size: 16px;
}

.status-todo {
  background-color: coral;
}

.status-doing {
  background-color: yellow;
}

.status-done {
  background-color: lightgreen;
}

.task-manager-app {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f4f4f4;
}

.task-manager-create-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.task-manager-create-input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.task-manager-create-button {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #007BFF;
  color: white;
  cursor: pointer;
}

.task-manager-button:hover {
  background-color: #45a049;
}

.task-manager-list {
  list-style-type: none;
  padding: 0;
}

.task-manager-item {
  padding: 5px;
  border-bottom: 1px solid #ddd;
}

.task-manager-item:last-child {
  border-bottom: none;
}

.task-manager-item:hover {
  background-color: #ddd;
}

.task-manager-task {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 10px;
  padding: 10px;
  min-height: 120px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.text-editable {
  text-align: left;
  padding: 10px 0 0 10px;
}

.text-editable[type="text"] {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.text-editable.title {
  font-size: 24px;
  font-weight: bold;
}

.text-editable.description {
  font-size: 16px;
  color: gray;
}

.task-manager-task.task-body {
  display: flex;
  justify-content: space-between;
}

.task-button-container {
  display: flex;
  justify-content: space-between;
}

.task-button {
  padding: 10px;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 1.1em;
}

.task-button.update {
  color: #4CAF50;
}

.task-button.update:hover {
  color: #45a049;
}

.task-button.edit {
  color: #FFC107;
}

.task-button.edit:hover {
  color: #FFB300;
}

.task-button.delete {
  color: #f44336;
}

.task-button.delete:hover {
  color: #d32f2f;
}

.loading-page {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 100vh;
  background-color: #f3f3f3;
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
